.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    img {
      width: 90%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      &:not(:last-of-type) {
        margin-right: 3rem;
      }

      &--headphone {
        border: 1px solid #737373;
        padding: 1rem;
        border-radius: 100%;
      }
      &--down {
        cursor: pointer;
      }
    }
  }
}
