.whatsappFeedback {
  display: flex;
  // width: 20rem;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: $color-primary-text;
  color: $color-white;
  border-radius: $border-radius-primary;
  img {
    margin-right: 1.5rem;
    width: 20%;
  }
  p {
    font-size: 1.4rem;
    display: inline-block;
    line-height: 1.3;
  }
}
