// ! colors used in the webapp
$color-card-bg: #f4f4f4;
$color-primary-text: #000000;
$color-gradient-main: linear-gradient(180deg, #a5ddd8 0%, #90b7c4 100%);
$color-primary: #b1e50d;
$color-text-grey: #b3b4b1;
$color-text-grey-2: #a7a8a4;
$color-black: #0e0e0e;
$color-white: #ffff;

// ! size and properties value
$border-radius-primary: 0.4rem;
