.investors__wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5.5rem;
  &--wrapper {
    display: flex;
    flex-direction: column;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}
