.vc {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5.5rem;
  }

  &__btn {
    margin-top: 4rem;
    button {
      &:first-of-type {
        margin-right: 2.4rem;
      }
    }
  }
}
