.rightCard {
  height: 80vh;
  width: 22%;
  background-color: $color-card-bg;
  padding: 3rem 4rem;
  border-radius: $border-radius-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__allCovers,
  &__recentCovers {
    width: 100%;
    margin-bottom: 5rem;
    h2 {
      font-size: 2.2rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 3rem;
    }
  }
  &__allCovers {
    margin-bottom: 6rem;

    &--pieChart {
      height: 60%;
      width: 60%;
      margin-bottom: 3rem;
    }
    &--labels {
      display: flex;
      justify-content: space-between;

      &--label {
        display: flex;
        align-items: center;
        background-color: $color-white;
        padding: 0.5rem 0.8rem;
        width: 40%;
        text-transform: uppercase;
        span {
          display: inline-block;
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
          border-radius: 0.2rem;
        }
      }
    }
  }
  &__recentCovers {
    &__cover {
      display: flex;
      //   justify-content: center;
      align-items: center;
      background-color: $color-white;
      padding: 1rem;
      border-radius: 0.7rem;
      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }
      img {
        margin-right: 0.5rem;
      }
    }
  }
}
